<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="Django Heandler" />
        </handlers>
    </system.webServer>
    <appSettings>
        <remove key="DJANGO_SETTINGS_MODULE" />
        <remove key="WSGI_HANDLER" />
        <add key="WSGI_HANDLER" value="back_end.wsgi.application" />
        <add key="DJANGO_SETTINGS_MODULE" value="back_end.settings" />
    </appSettings>
</configuration>
