<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appSettings>
        <add key="DJANGO_SETTINGS_MODULE" value="back_end.settings" />
        <add key="PYTHONPATH" value="D:\My_Program\Django_app_project\back_end" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    </appSettings>

    <system.webServer>
        <handlers>
            <add name="Django_back_end" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\00_Interpreter\python_V3.10\python.exe|C:\00_Interpreter\python_V3.10\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
